@import url("https://fonts.googleapis.com/css2?family=Acme&family=Francois+One&family=Timmana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Francois+One&family=Timmana&display=swap");
body {
  display: flex;
  flex-direction: column;
}
.main-pagina-nosotros {
  background-color: black;
  flex-grow: 1;
}
.tamaño-img-section {
  object-fit: cover;
  width: 100%;
  height: 3cm;
  opacity: 0.8;
}
.div-contenedor-img {
  max-height: 9cm;
  width: 100%;
  position: relative;
}
.posicion-img-valorant {
  object-position: 100% 12%;
}
.posicion-img-minecraft {
  object-position: 100% 72%;
}
.posicion-img-fallguys {
  object-position: 100% 60%;
}
h1,
h2,
h3,
p {
  color: white;
}
h1,
h2,
.card-title,
.nombre-miembro {
  font-family: "Francois One", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h1 {
  position: absolute;
  font-size: 65px !important;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0.3, 0.3, 0.3, 0.7);
}
.titulo-section {
  top: 5%;
  left: 12%;
}
.posicion-titulo-principal2 {
  top: 38%;
  left: 23%;
}
.posicion-titulo-principal3 {
  top: 72%;
  left: 31%;
}
.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
}
h2 {
  font-size: 55px;
}
.card {
  background-color: #586f6b;
}
.card-text {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 100;
  font-size: 17px;
}
.card-title {
  color: white;
}
hr {
  border: 1px solid white;
}
.tamaño-foto-miembros {
  width: 7cm;
}
.foto-miembros {
  object-fit: cover;
  border-radius: 50%;
  max-width: 160px;
  max-height: 160px;
  box-shadow: 2px 2px 2px rgba(255, 161, 54, 0.7);
  padding: 0;
}
.contenedor-final {
  position: relative;
}
.div-fotos-miembros {
  position: absolute;
  top: 35%;
}
.descripcion-imagen-miembros {
  background-color: rgba(39, 38, 37, 0.5);
  padding: 2px;
  border-radius: 10%;
  color: white;
}
.nombre-miembro {
  font-size: 22px;
}

.div-contenedor-fondo {
  width: 100%;
  height: 100%;
}

.tamaño-imagen-fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.div-descripcion-santino {
  background-image: url(../images/PagNosotros.img/lol.jpeg);
  display: flex;
  flex-direction: row;
}
.div-descripcion-emilia {
  background-image: url(../images/PagNosotros.img/gta.jpeg);
  display: flex;
  flex-direction: row;
}
.div-descripcion-elian {
  background-image: url(../images/PagNosotros.img/dyong.jpeg);
  display: flex;
  flex-direction: row;
}

@media (max-width: 576px) {
  .tamaño-img-section {
    height: 2cm;
  }
  h1 {
    font-size: 30px !important;
  }
  .titulo-section {
    top: 10%;
  }
  .posicion-titulo-principal2 {
    top: 45%;
    left: 16%;
  }
  .posicion-titulo-principal3 {
    top: 76%;
    left: 20%;
  }
  .chakra-petch-light {
    font-size: 15px !important;
  }
  .card-text {
    font-size: 12px;
  }
  .card-title {
    font-size: 17px;
  }
  h2 {
    font-size: 28px;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  h1 {
    font-size: 55px !important;
  }
  .titulo-section {
    top: 6%;
  }
  .posicion-titulo-principal2 {
    top: 37%;
    left: 16%;
  }
  .posicion-titulo-principal3 {
    top: 70%;
    left: 20%;
  }
  h2 {
    font-size: 40px;
  }
  .chakra-petch-light {
    font-size: 18px;
  }
  .div-descripcion-santino,
  .div-descripcion-emilia,
  .div-descripcion-elian {
    flex-direction: column;
    align-items: center;
  }
}
