@import url('https://fonts.googleapis.com/css2?family=Acme&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Francois+One&family=Timmana&display=swap');
body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}
main{
    flex-grow: 1;
    background-color: black;
}
article{
    background-color: #F5A623;;
}
.francois-one-regular {
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h1{color: white;
    
 }
