@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

main{
    flex-grow: 1;
}
:root { 
--marroncito: #A87D6D; 
--rojito: #8E3336; 
--naranjita: #F5A623; 
--marronOscuro: #2E1A1A; 
--gris: #586F6B; 
}

#logo-navbar{
    width: 150px;
}
nav, .dropdown-menu{
    background-color: var(--rojito);
}
.dropdown-menu a:hover{
    background-color: var(--rojito);
    font-weight: bold;
}
.search{
    width: 300px;
}

/*inicio estilos del modal login*/
#google, #fb{
    text-decoration: none;
}
.modal-header{
    background-color: var(--rojito);
}
.modal-body {
    background-color: var(--marroncito);
}
.modal-footer{
    background-color: var(--rojito);
}
/*inputs del form del modal*/
.form-group input {
    width: calc(100% - 5px);
}
#btnModalFooter {
    background-color: var(--marroncito);
}
.modal-footer i{
    color: var(--marroncito);
}
/*media quieries del modal login*/
@media all and (max-width: 460px){
    #modal_body_img {
    width: 100%;
    }
}
/*fin de estilos del modal login*/

/* Estilo de Section 'Mas vendidos' */
.div-section-vendidos{
    display: flex;
    width: 600px;
    height: 430px;
}
.img-juegos-mas-vendidos{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;
}
.img-juegos-mas-vendidos:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

